@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('/fonts/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src: url('/fonts/Lato-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('/fonts/Lato-Bold.ttf') format('truetype');
}