@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold outline-none rounded-4xl bg-dark-4 text-white hover:brightness-125 transition-all disabled:brightness-100;
  }
  .btn-xxs {
    @apply py-1 px-2;
  }
  .btn-xs {
    @apply py-2 px-4;
  }
  .btn-sm {
    @apply py-4 px-9;
  }
  .btn-md {
    @apply py-3 px-8;
  }
  .btn-lg {
    @apply py-4 px-10.5;
  }
}

/* apply global styling (tailwind mode) */
@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.scroll-box {
  background-image: 
  /* Shadows */ 
  linear-gradient(to right, white, white),
  linear-gradient(to right, white, white),
  /* Shadow covers */ 
  linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
  linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   
  background-position: left center, right center, left center, right center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
  scrollbar-color: #d5ac68 #f1db9d;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

/* remove scrollbar track */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}